@font-face {
  font-family: 'Graces Sans';
  src: url('/static/fonts/basis-grotesque-regular.eot');
  src: url('/static/fonts/basis-grotesque-regular.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/basis-grotesque-regular.woff') format('woff'),
       url('/static/fonts/basis-grotesque-regular.woff2') format('woff2'),
       url('/static/fonts/basis-grotesque-regular.ttf') format('truetype');
  font-weight: Light;
  font-style: normal;
}

@font-face {
  font-family: 'Graces Sans Off White';
  src: url('/static/fonts/basis-grotesque-off-white.eot');
  src: url('/static/fonts/basis-grotesque-off-white.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/basis-grotesque-off-white.woff') format('woff'),
       url('/static/fonts/basis-grotesque-off-white.woff2') format('woff2'),
       url('/static/fonts/basis-grotesque-off-white.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graces Serif';
  src: url('/static/fonts/LyonDisplay-Light-Web.eot');
  src: url('/static/fonts/LyonDisplay-Light-Web.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/LyonDisplay-Light-Web.woff2') format('woff2'),
       url('/static/fonts/LyonDisplay-Light-Web.woff') format('woff');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}


html {
  font-family: 'Graces Sans', Helvetica, Ariel, sans-serif;
  background: #fff;
  font-size: 17px;
}

body {
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* FULLSCREEN VIDEO */ 

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

/* CONTAINER TYPES */

.container {
}

.header {
  margin: 40px 0;
}

.logo {
  margin: 0 auto;
  width: 200px;
  height: 13px;
  background: center center url('/static/images/graces-logo-negative.png') no-repeat;
  background-size: contain;
}

.flex-container {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay-text {
  width: 100%;
  max-width: 799px;
  margin: 0 auto;
}

.form {
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
}

#mc_embed_signup form {
  padding: 0;
}

#mc_embed_signup .mc-field-group label {
  display: none;
}

#mc_embed_signup .mc-field-group input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #E7E7E7;
  padding: 15px 0;
  color: #8E949E;
  border-radius: 0;
}

#mc_embed_signup .mc-field-group input:focus,
#mc_embed_signup .button {
    outline: none;
}

/* do not group these rules */
*::-webkit-input-placeholder {
    color: #8E949E;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #8E949E;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #8E949E;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #8E949E;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
  border: 0;
  border-bottom: 1px solid #e85c41;
}

#mc_embed_signup .button {
  height: 45px;
  font-size: 14px;
  padding: 0 20px;
  margin-top: 10px;
  border-radius: 100px;
  background: #2D3854;
}

@media screen and (min-width: 800px) { 
  #mc_embed_signup .button {
    float: right;
  }
}

@media screen and (max-width: 799px) { 
  /* center button */
  #mc_embed_signup .clear {
    text-align: center;
  }
}

#mc_embed_signup div#mce-responses {
  padding: 0;
  margin: 0;
  width: 100%;
}

#mc_embed_signup #mce-success-response,
#mc_embed_signup #mce-error-response {
  width: 100%;
  padding: 0;
  font-size: 14px;
}

#mc_embed_signup #mce-success-response {
  color: #2D3854;
}

/* TYPOGRAPHY */ 

a {
  color: #fff;
}

h1 {
  font-size: 68px;
  line-height: 1.1em;
  letter-spacing: 2px;
  margin: 0 0 30px 0;
  color: #000;
  text-align: center;
}

h2 {
  font-family: 'Graces Serif', serf;
  font-size: 26px;
  line-height: 1em;
  letter-spacing: 1px;
  margin: 0 0 30px 0;
  color: #000;
  text-align: center;
}

.video-overlay {
    font-family: 'Graces Sans Off White';
    color: rgba(255, 255, 255, .9);
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.footer {
  font-family: 'Graces Sans', sans-serif;
  font-size: 13px;
  color: rgba(255, 255, 255, .4);
  width: 90%;
  padding: 40px 0;
  max-width: 100%;
  margin: 0 auto;
}

.footer a {
  color: rgba(255, 255, 255, .4);
  text-decoration: none;
}

@media screen and (min-width: 800px) { 
  .footer-left {
    float: left;
  }

  .footer-right {
    float: right;
  }
}

@media screen and (max-width: 799px) { 
  .footer-left {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-right {
    text-align: center;
  }
}

@media only screen and (max-width: 799px) {
   /* h1 scaling */
  h1 {
    font-size: 42px;
  }
}
